.wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 6px;
  color: white;
  width: max-content;
}

.select {
  cursor: pointer;

  &.sm {
    width: 170px;
    height: 32px;
  }

  &.md {
    width: 200px;
    height: 36px;
  }

  &.lg {
    width: 230px;
    height: 40px;
  }
}

.label {
  color: inherit;
  line-height: 1;
  font-weight: 500;
}

.error {
  margin: 4px 0 0;
  color: var(--error);
  line-height: 1;
  font-weight: 500;
}

.wrapper.sm {
  .label {
    font-size: 12px;
  }

  .error {
    font-size: 11px;
  }
}

.wrapper.md {
  .label {
    font-size: 14px;
  }

  .error {
    font-size: 12px;
  }
}

.wrapper.lg {
  .label {
    font-size: 16px;
  }

  .error {
    font-size: 14px;
  }
}

.disabled {
  opacity: 0.5;
  user-select: none;
}

.select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
